/* #Login-page
{

} */

#top_bar
{
    margin: auto;
    text-align: center;
}

#short_title
{
    font-size: 17px;
    font-weight: 400;
}

.login-container
{
    display: flex !important;
    margin-top : 20px;
}

#login-content
{
    display:flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    width: 30%;  
    border-radius:15px;
    padding: 5px 25px 20px 25px;
}

.login-title
{
    text-align: center;
    border: auto;
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-weight: 600;
}

#filling-form > button
{
    margin-top: 5px;
    background-color: #eb3d34;
    border: none;
    width: 100%;
    align-items: center !important;
    border: auto;
    align-self: center;
}

.login-bottom
{
    text-align: center;
    font-size: 16px;
}

.forgot-password
{
    margin: 3px 0px 6px 0px !important;
}

.no-account
{
    font-size: 14px;
}
